# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm-store

# testing
/coverage

# dist
/dist

# IDE - VSCode
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json
.history/*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
